//! **************************************************************************
// Written by: Map P.20131013 on Sun Jan 30 00:56:15 2022
//! **************************************************************************

SCHEMATIC START;
COMP "Logic_1" LOCATE = SITE "H17" LEVEL 1;
COMP "PS" LOCATE = SITE "J15" LEVEL 1;
COMP "Q" LOCATE = SITE "M13" LEVEL 1;
COMP "CLK" LOCATE = SITE "E3" LEVEL 1;
SCHEMATIC END;

