

NET "CLOCK" IOSTANDARD = LVCMOS33;
NET "PS" IOSTANDARD = LVCMOS33;
//Q0 is my LSB
NET "Q0" IOSTANDARD = LVCMOS33;
NET "Q1" IOSTANDARD = LVCMOS33;
NET "Q2" IOSTANDARD = LVCMOS33;
//Q3 is my MSB
NET "Q3" IOSTANDARD = LVCMOS33;


// PS works as my Input - Previous_State
NET "PS" LOC = J15;
//Q0 is my LSB
NET "Q0" LOC = H17;
NET "Q1" LOC = K15;
NET "Q2" LOC = J13;
//Q3 is my MSB
NET "Q3" LOC = N14;
NET "CLOCK" LOC = E3;

//Q0, Q1, Q2, Q3 works as my Outputÿÿ

# PlanAhead Generated IO constraints 

NET "CLEAR" IOSTANDARD = LVCMOS33;
NET "SEL_Q0" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "CLEAR" LOC = J15;
NET "SEL_Q0" LOC = L16;
